
.App {
    padding: 0 10%;
}

/************ nav CSS ************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 .4rem 0;
}
nav img {
    width: 6%;
    cursor: pointer;
}
nav span {
    font-size: 1rem;
    background-color: orange;
    cursor: pointer;
    padding: .6rem 2rem;
}

/************ table CSS ************/
table {
    width: 100%;
    text-align: center;
    border: 2px solid gray;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1.1rem;
}

table tr {
    border-bottom: 1px solid gray;
    padding: 1rem 0;
}

table th {
    padding: 1rem 0;
}

table td {
    padding: .3rem 0;
}
.action-buttons button {
    border: none;
    padding: .2rem .7rem;
    cursor: pointer;
}
.action-buttons button:nth-child(1) {
    background-color: orangered;
    color: #fff;
}
.action-buttons button:nth-child(2) {
    background-color: rgb(0, 119, 255);
    margin: 0 .4rem;
}
.action-buttons button:nth-child(3) {
    background-color: crimson;
    color: #fff;
}

/************ Form CSS ************/
.main-form-container h2 {
    margin: 1rem 0 0.3rem 0;
    display: inline-block;
    text-decoration: underline;
    font-size: 1.8rem;
}
.main-form-container .name-container,.contact-container,.address-container,.address-container-2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: .5rem 0;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group input {
    font-size: 1.1rem;
    padding: .2rem;
}
.form-group select {
    font-size: 1.2rem;
    padding: 0.2rem;
}
.main-form-container .submit-btn{
    border: none;
    background-color: rgb(4, 159, 136);
    padding: .5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

/************ Form CSS ************/
.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.user-header img {
    width: 6%;
    cursor: pointer;
}
.user-header h2 {
    text-decoration: underline;
}
.user-buttons {
    display: flex;
    gap: 1rem;
}
.user-buttons button{
    border: none;
    padding: .6rem 2rem;
    font-size: 1.1rem;
    cursor: pointer;
}
.user-buttons button:nth-child(1){
    background-color: rgb(6, 122, 80);
    color: #fff;
}
.user-buttons button:nth-child(2){
    background-color: crimson;
    color: #fff;
}
.user-main {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.user-main .personal-info {
    background-color: #c0d8d8;
    width: 50%;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    border-radius: .5rem;
}
.user-main .address-info {
    background-color:#99bbc9;
    width: 50%;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    border-radius: .5rem;
}



